# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# PyCharm
.idea/

# Virtual environments
.venv/
venv/
env/

# Inputs and outputs directories
inputs/
outputs/

# Git
.git/
.gitignore

# Tests
tests/